---
import { experiences } from "@/lib/site.config";
import Reveal from "@/components/Reveal";
---

<section
  class="flex flex-col w-full gap-6 justify-center py-24"
  id="experiences"
>
  <div class="items-center justify-between w-full flex flex-row space-x-6">
    <h2 class="text-3xl text-center md:text-5xl font-semibold">
      <span class="text-2xl font-normal">01.</span>
      Experiences
      <span class="dark:text-sky-400 text-sky-600 animate-pulse text-6xl">
        .</span
      >
    </h2>
    <hr class="flex-grow border-2 border-accent" />
  </div>

  <!-- Content -->
  <div class="overflow-hidden flex flex-col gap-12 md:px-[2.7rem]">
    {
      experiences.map((journey, idx) => (
        <div class="flex flex-col gap-4 justify-center">
          <div class="flex flex-col">
            <Reveal client:visible>
              <p class="font-extrabold text-2xl md:text-3xl text-sky-500">
                {journey.position}
              </p>
            </Reveal>
            <Reveal client:visible>
              <p class="font-normal text-sm md:text-xl ">{journey.period}</p>
            </Reveal>
          </div>
          <div class="flex flex-row items-center justify-between">
            <Reveal client:visible>
              <p class="font-semibold text-lg md:text-xl text-left text-teal-500 bg-muted/50">
                {journey.organization}
              </p>
            </Reveal>

            <Reveal client:visible>
              <p class="font-semibold text-lg md:text-xl text-right">
                {journey.location}
              </p>
            </Reveal>
          </div>
          {Array.isArray(journey.description) ? (
            <ul class="list-disc list-inside max-w-[1000px] text-justify">
              {journey.description.map((desc, idx) => (
                <Reveal client:visible>
                  <li class="font-normal text-sm md:text-xl ">{desc}</li>
                </Reveal>
              ))}
            </ul>
          ) : (
            <p class="font-normal text-sm md:text-xl ">{journey.description}</p>
          )}
        </div>
      ))
    }
  </div>
</section>
